* {
    margin: 0;
    padding: 0;
}

.header{
    height: 5%;
    width: 100%;
    background-color: aliceblue;
}

.header_item{
    font-family: Verdana;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 150%;
    cursor: pointer;
}

.main_content{
    top: 5%;
    height: 95%;
    width: 100%;
}

.right_slide{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: aliceblue;
}

.right_slide_open{
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 0 0 10% 0;
}

